@{
    ViewData["Title"] = "Home Page";
}

<h1>Random N Number Multiplication Table</h1>
<table id="multiplication">
</table>


<h1>Canvy: <canvas></canvas></h1>
<p>pierwszy canvas</p>
<canvas>
</canvas>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet, tempore temporibus iusto ipsum a, officiis aperiam totam ducimus doloremque inventore quos dignissimos, omnis commodi in unde labore laborum quasi.
</p>
<canvas class="big">
</canvas>

<canvas>
</canvas>

<canvas>
</canvas>


<canvas>
</canvas>

<canvas class="big"></canvas>
