@{
    ViewData["Title"] = "Home Page";
}

<h1>Random N Number Multiplication Table</h1>
<table id="multiplication">
</table>


<h1>Canvy: <canvas></canvas></h1>
<p>pierwszy canvas</p>
<canvas>
</canvas>
<p></p>
<canvas class="big">
</canvas>

<canvas>
</canvas>

<canvas>
</canvas>


<canvas>
</canvas>

<canvas class="big"></canvas>
