@*
    ViewData["Title"] = "Guess";
*@


<h1>Guessing Game</h1>
<h3>Round: @ViewBag.Round</h3>
@if (ViewBag.Clue == 1)
{
    <h2 class="red-text" style="color: red;">TooBig</h2>
}
else if (ViewBag.Clue == -1)
{
    <h2 class="blue-text" style="color: blue;">TooLow</h2>
}
else
{
    <h2 class="green-text" style="color: green;">Correct</h2>
}
<h3>@ViewBag.Message</h3>
