.even {
    background-color: rgb(80, 161, 233);
}

.odd {
    background-color: rgb(119, 96, 231);
}

th {
    border: 2px solid black;
    background-color: rgb(91, 129, 243);
}

td {
    border: 1px solid black;
}

canvas {
    border: 3px solid rosybrown;
    position: static;
}

.big {
    width: 500px;
    height: 500px;
    background-size: contain;
}