@*
    ViewData["Title"] = "Guess";
*@


<body class=@ViewBag.Clue>
    <h1>Guessing Game</h1>
    <h2>Round: @ViewBag.Round</h2>
    <h5>History:</h5>
    <h3>@ViewBag.History</h3>
    <h2>Result: @ViewBag.Message</h2>
    <div class="imageclue"></div>
</body>


